header{
    background-color: blue;

}
.log{
    width: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
main{
    background-color: antiquewhite;
}
.menu {
    width: 20pc;
    float: right;
}