.main-title{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #8B4513;
    text-align: center;
}

.info-block-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.info-block {
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1.3rem;
    border: 2px solid #D4AF37;
    background-color: #ffefba;
    text-align: center;
    min-width:550px
}

.form-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #8B4513;
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
}

form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}
form input, form textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}